<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <application
        android:enableOnBackInvokedCallback="true"
        tools:targetApi="31">

        <!-- Servicio de Firebase Cloud Messaging -->
        <service
            android:name=".PanAppMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <!-- Icono y color por defecto para las notificaciones de FCM -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@android:drawable/ic_dialog_info" />

        <service
            android:name=".SampleIsReadyToPayService"
            android:exported="true">
            <intent-filter>
                <action android:name="org.chromium.intent.action.IS_READY_TO_PAY" />
            </intent-filter>
        </service>

        <activity
            android:name=".PaymentActivity"
            android:exported="true"
            android:theme="@style/Theme.SamplePay.Dialog">
            <intent-filter>
                <action android:name="org.chromium.intent.action.PAY" />
            </intent-filter>

            <meta-data
                android:name="org.chromium.default_payment_method_name"
                android:value="https://panapp.com/pay" />

            <meta-data
                android:name="org.chromium.payment_method_names"
                android:resource="@array/chromium_payment_method_names" />
        </activity>

    </application>

</manifest>
